$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.mainButton {
  
}

.center {
  text-align: center;
  margin: auto;
}

.square300 {
  height: 300px;
  width: 300px;
  background-color: #1ABC9C;
}

.h1-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.h2-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 25px;
}

.right {
   text-align: right;
}

.blbg{
  background-color: #F0F0F0;
}